.form {
  margin-top: 35px;
}

.form__person,
.form__achievements,
.form__contacts,
.form__app,
.form__textarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  border-color: transparent;
}

.form__person-label,
.form__achievements-legend,
.form__contacts-label,
.form__contacts-legend,
.form__app-legend,
.form__textarea-legend,
.form__asterisk-item {
  color: #d22856;
}

.form__achievements-legend--mobile,
.form__app-legend--mobile{
  line-height: 18px;
}

.form__sur-name,
.form__first-name,
.form__third-name,
.form__tel,
.form__email {
  box-sizing: border-box;
  width: 100%;
  height: 63px;
  margin: 0;
  padding: 0;
  padding-left: 20px;

  border: 2px solid #e5e5e5;
}

.form__sur-name:hover,
.form__first-name:hover,
.form__third-name:hover,
.form__tel:hover,
.form__email:hover,
.form__textarea-field:hover,
.form__sur-name:focus,
.form__first-name:focus,
.form__third-name:focus,
.form__tel:focus,
.form__email:focus,
.form__textarea-field:focus {
  border-color: #283645;
}

.form__sur-name:active,
.form__first-name:active,
.form__third-name:active,
.form__tel:active,
.form__email:active,
.form__textarea-field:active {
  border-color: #d22856;
  outline: none;
}

.form__sur-name::placeholder,
.form__first-name::placeholder,
.form__third-name::placeholder,
.form__tel::placeholder,
.form__email::placeholder {
  font-size: 18px;
}
.form__person-label,
.form__contacts-label,
.form__achievements-item,
.form__app-item {
  display: block;
}

.form__person-label,
.form__contacts-label {
  padding-left: 20px;
}

.form__textarea-field {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  padding-left: 20px;

  border: 2px solid #e5e5e5;
}

.form__textarea-field::placeholder {
  font-size: 18px;
}

.form__achievements,
.form__app {
  background-color: #f2f2f2;
}

.form__achievements {
  min-height: 605px;
  margin-top: 20px;
  padding-top: 30px;
}

.form__achievements-legend--normal {
  display: none;
}

.form__achievements-legend--mobile {
  width: 220px;
  margin: 0 auto;
  margin-bottom: 40px;

  text-align: center;
}

.form__checkbox {
  display: none;
}

.form__achievements-label {
  position: relative;

  display: block;
  margin-bottom: 55px;
  margin-left: 70px;
  font-size: 18px;
}

.form__achievements-label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -65px;

  display: block;
  width: 35px;
  height: 35px;

  background-color: white;
  border: 2px solid #e5e5e5;
}

.form__achievements-label:hover::before,
.form__achievements-label:focus::before {
  border-color: #283645;
}

.form__achievements-label:active::before {
  border-color: #d22856;
}

.form__achievements-item {
  position: relative;
}

.form__achievements-tick {
  position: absolute;
  top: 5px;
  left: 13px;
  z-index: 2;

  display: none;
  width: 20px;
  height: 10px;

  border-bottom: 3px solid #d22856;
  border-left: 3px solid #d22856;
  transform: rotate(-45deg);
}

.form__checkbox:checked ~ .form__achievements-tick {
  display: block;
}

.form__app {
  min-height: 340px;
  padding-top: 35px;
}

.form__app-legend--normal {
  display: none;
}

.form__app-legend--mobile {
  width: 180px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.form__radio {
  display: none;
}

.form__app-label {
  margin-left: 80px;
  margin-bottom: 45px;
  position: relative;
  display: block;
  font-size: 18px;
}

.form__app-label::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  background-color: white;
  left: -60px;
  top: -3px;
}

.form__app-label::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #d22856;
  left: -48px;
  top: 9px;
  z-index: 2;
  display: none;
}

.form__app-label:hover::before,
.form__app-label:focus::before {
  border-color: #283645;
}

.form__app-label:active::before {
  border-color: #d22856;
}

.form__radio:checked ~ .form__app-label::after {
  display: block;
}

.form__person {
  min-height: 345px;
}

.form__sur-name,
.form__first-name {
  margin-bottom: 20px;
}

.form__contacts-label--normal {
  display: none;
}

.form__contacts-legend {
  display: none;
}

.form__wrapper {
  margin: 0;
}

.form-page-main .wrapper {
  width: 320px;
  margin: 0;
}

.form__person,
.form__contacts,
.form__textarea {
  width: 280px;
  margin-left: 20px;
  padding-right: 0;
  padding-left: 0;
}

.form__contacts {
  min-height: 260px;
  padding-top: 15px;
}

.form__contacts-label--mobile {
  margin-top: 10px;
}

.form__textarea {
  min-height: 240px;
  margin-top: 30px;
}

.form__textarea-legend {
  text-align: center;
  margin-top: 25px;
}

.form__button {
  margin-left: 20px;
  box-sizing: border-box;
  width: 280px;
  margin-top: 40px;
  background-color: #2aab6d;
  border-radius: 0px;
  height: 63px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.form__button:hover,
.form__button:focus {
    background-color: #1c9b5e;
}

.form__button:active{
    color: #61b98f;
}

.form__asterisk--desktop {
  display: none;
}

.form__asterisk--normal {
  width: 185px;
  margin: 0 auto;
  margin-top: 35px;
}

@media (min-width: 768px) {
  .form__button {
    margin-left: 0px;
    margin-top: 65px;
    width: 300px;
  }

  .form__asterisk--normal {
    margin-top: 80px;
    margin-left: 135px;
  }

  .form__textarea {
    min-height: 310px;
    margin-top: 50px;
    box-sizing: border-box;
  }

  .form__textarea-legend {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
  }

  .form__textarea-field {
    width: 500px;
    min-height: 195px;
    margin: 0 auto;
  }

  .form__app {
    background-color: transparent;
    min-height: 310px;
  }

  .form__app-legend--normal {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
  }
  
  .form__app-legend--mobile {
    display: none;
  }

  .form__app-label {
    margin-left: 105px;
  }

  .form__contacts {
    min-height: 325px;
    margin-top: 45px;
    padding-bottom: 0;
  }

  .form__contacts-legend {
    display: block;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
  }

  .form__tel,
  .form__email {
    width: 500px;
    margin-left: 60px;
  }

  .form__contacts-group {
    position: relative;
  }

  .form__contacts-icon {
    position: absolute;
    top: 0;
    right: 56px;

    width: 62px;
    height: 62px;
  }

  .form__contacts-icon--tel {
    background-image: url("../img/form-icon-tel.png");
  }

  .form__contacts-icon--email {
    background-image: url("../img/form-icon-email.png");
  }

  .form__contacts-label--mobile {
    display: none;
  }

  .form__contacts-label--normal {
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 75px;
  }

  .form__achievements-legend--mobile {
    display: none;
  }

  .form__achievements-legend--normal {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .form__achievements {
    min-height: 570px;
    margin-top: 45px;

    background-color: white;
  }

  .form__achievements-label {
    margin-left: 115px;
  }

  .form__achievements-tick {
    left: 60px;
  }

  .form__wrapper,
  .form-page-main .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto;
  }

  .form__person,
  .form__achievements,
  .form__contacts,
  .form__app,
  .form__textarea {
    box-sizing: border-box;
    width: 100%;
  }

  .form__person,
  .form__contacts,
  .form__textarea {
    margin-left: 0;
  }

  .form__app {
    order: -2;
  }

  .form__contacts {
    order: -1;
  }

  .form__person {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    order: -3;
    min-height: 330px;
  }

  .form__person-group {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }

  .form__person-label {
    margin-top: 20px;
    margin-right: 15px;
    padding-left: 0;
  }

  .form__achievements,
  .form__contacts,
  .form__app,
  .form__textarea {
    border-color: #e5e5e5;
  }
}

@media (min-width: 1200px) {
  .form__asterisk--normal {
    display: none;
  }

  .form__asterisk--desktop {
    display: block;
    margin-left: 320px;
    margin-top: 80px;
  }

  .form__textarea {
    min-height: 235px;
  }

  .form__textarea-field {
    width: 820px;
    min-height: 125px;
  }

  .form__app {
    width: 430px;
    margin-left: 39px;
    min-height: 100px;
  }

  .form__app-label {
    margin-left: 120px;
    margin-bottom: 50px;
  }

  .form__app-item:last-child > .form__app-label {
    margin-bottom: 0px;
  }

  .form__contacts {
    min-height: 175px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .form__contacts-container {
    display: flex;
    justify-content: space-between;
  }

  .form__contacts-group {
    width: 375px;
  }

  .form__contacts-icon {
    right: 0;
  }

  .form__contacts-label--normal {
    margin-left: 0px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-left: 25px;
  }

  .form__tel,
  .form__email {
    width: 375px;
    margin-left: 0;
  }

  .form__wrapper,
  .form-page-main .wrapper {
    width: 940px;
  }

  .form__person {
    width: 467px;
    min-height: 290px;
    padding-bottom: 0px;
    margin-top: 15px;
  }

  .form__person-group {
    box-sizing: border-box;
    padding-right: 35px;
  }

  .form__person-group:last-child {
    margin-bottom: 0;
  }

  .form__achievements {
    min-height: 250px;
    margin-top: 30px;
    padding-right: 0;
    padding-left: 0;
  }

  .form__achievements-container {
    display: flex;
    width: 100%;
    margin-top: -20px;
  }

  .form__achievements-group {
    box-sizing: border-box;
  }

  .form__achievements-group:not(:nth-child(2)) {
    width: 315px;
  }

  .form__achievements-group:not(:nth-child(3)) {
    padding-left: 115px;
  }

  .form__achievements-group:last-child {
    padding-left: 105px;
  }

  .form__achievements-label {
    margin-left: 0;
  }

  .form__achievements-tick {
    left: -55px;
  }
}

