.gallery__panorama-item {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.gallery__item-time {
  font-weight: 300;
  font-size: 12px;
}

.gallery__item-content {
  line-height: 24px;
}

.gallery__item-likes {
  position: relative;

  width: 120px;
  margin-left: 30px;

  font-size: 12px;
  color: #d22856;
}

.gallery__item-likes::before {
  content: "";

  position: absolute;
  top: 10px;
  left: -30px;

  display: block;

  width: 13px;
  height: 12px;

  background-image: url("../img/icon-heart.svg.png");
}

.gallery__item {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0;
}

.gallery__item-description {
  margin-top: -10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 15px;

  background-color: #f2f2f2;
}

.gallery__item-description--panorama {
  margin-right: 20px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .gallery {
    flex-wrap: wrap;

    display: flex;
  }

  .gallery-wrapper {
    flex-wrap: wrap;

    display: flex;
  }

  .photo-page .gallery__panorama-item {
    width: 660px;
    margin-right: 0;
  }

  .gallery__item-description--panorama {
    position: relative;

    padding-top: 20px;
    padding-left: 30px;
  }

  .gallery__item-description--common {
    min-height: 150px;
    padding-left: 25px;
  }

  .gallery__item-likes--panorama {
    position: absolute;
    top: 10px;
    right: 40px;
  }

  .gallery__item-likes--panorama::before {
    top: 8px;
    left: 120px;
  }

  .gallery__item-content {
    margin-top: 0;
  }

  .gallery__item {
    width: 300px;
    margin-right: 0;
  }

  .gallery__item:not(.gallery__panorama-item):nth-child(2n + 1) {
    margin-right: 20px;
  }

  .gallery__item-content {
    min-height: 50px;
    margin-bottom: 20px;
  }

  .gallery__item-likes {
    margin-left: 0;
  }

  .gallery__item-likes--common::before {
    left: 230px;
  }
}

@media (min-width: 1200px) {
  .photo-page .gallery__panorama-item {
    width: 1200px;
  }

  .gallery__item-content--panorama {
    margin-bottom: 0;
  }

  .gallery__item-description--panorama {
    margin-right: 130px;
    margin-left: 130px;
  }

  .gallery__item {
    margin-right: 20px;
    margin-bottom: 55px;
  }

  .gallery__item:not(.gallery__panorama-item):nth-child(3n) {
    margin-right: 0;
  }
}
