.map--tablet {
  display: none;
}

.map--desktop {
  display: none;
}

.map--mobile {
  margin-top: 320px;
}

.map__triangle {
  position: absolute;
  left: 0;

  width: 100%;
  min-height: 123px;
}

.map__triangle--mobile {
  top: 330px;

  background-image: url("../img/triangle-white-footer.svg.png");
  background-repeat: no-repeat;
}

.map__triangle::before {
  content: "";

  position: absolute;
  top: 180px;
  left: 143px;

  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 50%;

  background-color: white;
}

.map__triangle::after {
  content: "";

  position: absolute;
  top: 190px;
  left: 153px;

  width: 15px;
  height: 15px;
  border: 1px solid transparent;
  border-radius: 50%;

  background-color: #d22856;
}

@media (min-width: 768px) {
  .map__triangle--tablet {
    top: 380px;

    background-image: url("../img/triangle-white-tablet.svg.png");
  }

  .map__triangle::before {
    top: 230px;
    left: 313px;
  }

  .map__triangle::after {
    top: 240px;
    left: 323px;
  }

  .map--mobile {
    display: none;
  }

  .map--tablet {
    display: block;

    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .map--tablet {
    display: none;
  }

  .map--desktop {
    display: block;
  }

  .map__triangle--desktop {
    top: 360px;

    background-image: url("../img/triangle-white-desktop.svg.png");
  }

  .map__triangle::before {
    top: 310px;
    left: 583px;
  }

  .map__triangle::after {
    top: 320px;
    left: 593px;
  }
}
