.page-header {
  position: relative;

  min-height: 460px;

  background-color: #1d2631;
  background-image: url("../img/Layer\ 155.png"),
    url("../img/iphone-5-in-hand-png.png"), url("../img/back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 104px 207px, 0 175px, 0 0;
  margin-top: 255px;
}

.page-header__logo-image--desktop {
  display: none;
}

.page-header__logo-image--tablet {
  display: none;
}

.photo-page .page-header {
  min-height: 235px;
  background-image: url("../img/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.photo-page .photo-page-main__title {
  color: white;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 30px;
}

.form-page .page-header {
  min-height: 235px;
  background-image: url("../img/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/Layer\ 155@2x.png"),
      url("../img/iphone-5-in-hand-png@2x.png"),
      url("../img/back-mobile@2x.jpg");
    background-size: 111px auto, 320px auto, 320px auto;
  }

  .photo-page .page-header,
  .form-page .page-header {
    background-image: url("../img/back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

@media (min-width: 768px) {
  .page-header {
    min-height: 720px;

    background-image: url("../img/Layer\ 155-tablet.png"),
      url("../img/iphone-6\ copy.png"), url("../img/back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 371px 229px, 0 175px, 0 0;
  }

  .page-header__logo-image--mobile {
    display: none;
  }

  .page-header__logo-image--tablet {
    display: block;
  }

  .page-header__logo {
    width: 147px;
    height: 40px;
  }

  .page-header__logo:hover,
  .page-header__logo:focus {
    background-image: url("../img/logotabletred.png");
    background-repeat: no-repeat;
    background-position: 1px 0;
  }

  .page-header__logo:active {
    background-image: url("../img/logotabletgrey.png");
    background-repeat: no-repeat;
    background-position: 1px 0;
  }

  .page-header__logo:hover > .page-header__logo-image--tablet,
  .page-header__logo:focus > .page-header__logo-image--tablet,
  .page-header__logo:active > .page-header__logo-image--tablet {
    display: none;
  }
  /*----------------------------------*/
  /*.photo-page .page-header__logo:hover > .photo-page .page-header__logo-picture,
  .photo-page .page-header__logo:focus > .photo-page .page-header__logo-picture,
  .photo-page .page-header__logo:active > .photo-page .page-header__logo-picture {
    display: none;
  }*/

  .photo-page .page-header {
    min-height: 440px;
    background-image: url("../img/back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .photo-page .photo-page-main__title {
    width: 360px;
    font-size: 50px;
    line-height: 60px;
    margin: 0 auto;
    margin-top: 80px;
  }
}

@media (min-resolution: 1.5dppx) and (min-width: 768px) {
  .page-header {
    background-image: url("../img/Layer\ 155-tablet@2x.png"),
      url("../img/iphone-6\ copy@2x.png"), url("../img/back-tablet@2x.jpg");
    background-size: 195px auto, 660px auto, 660px auto;
  }

  .photo-page .page-header {
    background-image: url("../img/back-tablet@2x.jpg");
    background-size: 660px auto;
  }
}

@media (min-width: 1200px) {
  .page-header {
    min-height: 850px;

    background-image: url("../img/Layer\ 155-desktop.png"),
      url("../img/iphone-6.png"), url("../img/back-desktop.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 721px 268px, 150px 205px, 0 0;

    margin-top: 0px;
  }

  .page-header__logo-image--tablet {
    display: none;
  }

  .page-header__logo-image--desktop {
    display: block;
  }

  .page-header__logo:hover,
  .page-header__logo:focus {
    background-image: none;
  }

  .page-header__logo:active {
    background-image: none;
  }

  .photo-page .page-header {
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    min-height: 390px;
  }
}

@media (min-resolution: 1.5dppx) and (min-width: 1200px) {
  .page-header {
    background-image: url("../img/Layer\ 155-desktop@2x.png"),
      url("../img/iphone-6@2x.png"), url("../img/back-desktop@2x.jpg");
    background-size: 230px auto, 1050px auto, 1200px auto;
  }

  .photo-page .page-header {
    background-image: url("../img/back-desktop@2x.jpg");
    background-size: 1200px auto;
  }
}
