@font-face {
  font-family: "Open Sans";
  src: url("opensans-bold-webfont.woff2") format("woff2"),
    url("opensans-bold-webfont.woff") format("woff"),
    url("opensans-light-webfont.woff2") format("woff2"),
    url("opensans-light-webfont.woff") format("woff"),
    url("opensans-regular-webfont.woff2") format("woff2"),
    url("opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  position: relative;

  width: 320px;

  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  margin: -1px;
  width: 1px;
}

img {
  max-width: 100%;
  height: auto;
}

.form-page {
  position: relative;
}

@media (min-width: 768px) {
  body {
    width: 660px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
}
