.post {
  min-height: 750px;
  padding-top: 20px;

  background-color: #f2f2f2;
}

.post__button {
  margin-left: 20px;

  background-color: transparent;
}

.post__button--push {
  margin-top: 40px;
  margin-bottom: 10px;
  border: 3px solid #d22856;

  color: #d22856;
}

.post__button--cancel {
  border: 3px solid #dddfe0;

  color: #dddfe0;
}

.post__button--push:hover,
.post__button--push:focus {
  background-color: #d22856;

  color: white;
}

.post__button--push:active {
  background-color: #d22856;

  color: #e06989;

  outline: none;
}

.post__button--cancel:hover,
.post__button--cancel:focus {
  border: 3px solid #b5b9be;

  color: #b5b9be;
}

.post__button--cancel:active {
  background-color: #b5b9be;

  color: #cbced2;

  outline: none;
}

.post__filter {
  min-height: 170px;
  margin-top: -10px;
  margin-bottom: 35px;
}

.post__filter-item {
  position: relative;

  padding-bottom: 0;
}

.post__filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.post__filter-item--mobile {
  min-height: 160px;
  border-bottom: 1px solid #dddfe0;

  background-image: url("../img/filter-mobile.png");
  background-repeat: no-repeat;
  background-position: 40px 115px;
}

.post__filter-icon {
  position: absolute;

  width: 48px;
  height: 42px;
}

.post__filter-icon--crop {
  top: 20px;
  left: 55px;

  background-image: url("../img/crop.svg.png");
  background-repeat: no-repeat;
}

.post__filter-icon--fill {
  bottom: 70px;
  left: 135px;

  background-image: url("../img/fill.svg.png");
  background-repeat: no-repeat;
}

.post__filter-icon--contrast {
  bottom: 65px;
  left: 220px;

  background-image: url("../img/contrast.svg.png");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .post {
    display: flex;

    min-height: 455px;
    padding-top: 55px;
    padding-right: 20px;
  }

  .post__filter-group {
    width: 300px;
  }

  .post__filter {
    margin-bottom: 65px;
  }

  .post-wrapper {
    width: 300px;
  }

  .post__filter-item--normal,
  .post__filter-item--mobile {
    min-height: 55px;
    border-bottom: 1px solid #dddfe0;
  }

  .post__filter-item--mobile {
    background-image: url("../img/slider-crop.png");
    background-position: 80px 20px;
  }

  .post__filter-item--normal:nth-child(2) {
    background-image: url("../img/slider-fill.png");
    background-repeat: no-repeat;
    background-position: 80px 20px;
  }

  .post__filter-item--normal:last-child {
    background-image: url("../img/slider-contrast.png");
    background-repeat: no-repeat;
    background-position: 80px 20px;
  }

  .post__filter-icon {
    width: 24px;
    height: 22px;

    outline: solid red;
  }

  .photo-page .post__filter-icon--crop {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url("../img/crop.svg\ 50%.png");
    background-repeat: no-repeat;
  }

  .photo-page .post__filter-icon--fill {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url("../img/fill.svg\ 50%.png");
    background-repeat: no-repeat;
  }

  .photo-page .post__filter-icon--contrast {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url("../img/contrast.svg\ 50%.png");
    background-repeat: no-repeat;
  }

  .post__button {
    width: 260px;
  }

  .post__button--push {
    margin-bottom: 25px;
  }
}

@media (min-width: 1200px) {
  .post {
    justify-content: space-between;

    box-sizing: border-box;
    width: 940px;
    min-height: 510px;
    margin: 0 auto;
    padding-right: 60px;
    padding-left: 0;
  }

  .post__filter-group {
    width: 410px;
  }

  .post__filter {
    margin-bottom: 145px;
  }

  .post__filter-item--mobile {
    background-image: url("../img/cropsleder-desltop.png");
    background-position: 90px 30px;
  }

  .post__filter-item--normal:nth-child(2) {
    background-image: url("../img/fillslider-desltop.png");
    background-repeat: no-repeat;
    background-position: 90px 30px;
  }

  .post__filter-item--normal:last-child {
    background-image: url("../img/contrastslider-desltop.png");
    background-repeat: no-repeat;
    background-position: 90px 30px;
  }

  .post__filter-icon {
    width: 48px;
    height: 45px;

    outline: none;
  }

  .photo-page .post__filter-icon--crop {
    top: 0;
    left: 0;

    background-image: url("../img/crop-desktop.svg.png");
  }

  .photo-page .post__filter-icon--fill {
    top: 5px;
    left: 5px;

    background-image: url("../img/contrast-desktop.svg.png");
  }

  .photo-page .post__filter-icon--contrast {
    top: 0;
    left: 0;

    background-image: url("../img/fill-desktop.svg.png");
  }

  .post__filter-item--normal,
  .post__filter-item--mobile {
    min-height: 70px;
  }

  .post__button {
    display: inline-block;

    width: 185px;
    margin-right: 0;
  }

  .post__button--push {
    margin-top: 0;
    margin-left: 0;
  }

  .post__button--cancel {
    margin-left: 36px;
  }
}
